# R and R studio related
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
# Figures
*.pdf
!thesis/appendix/*pdf
*.png
!thesis/figures/*.png
# test and temp folder
test/
# Don't track these
*.xz
.idea
*.tif
*.aux.xml
temp.RDS
*.qgz
